@model CanIEatHere.Models.FoodItem

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/foodPagesStyling.css" rel="stylesheet" />

<div class="darkerBackground text-center smallMarginTopBottom">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
</div>

<div>
        
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reviewDisplay">
            <p class="text-center">@Html.DisplayFor(model => model.FoodItemName)</p>
            <div class="row">
                <div class="col-md-3 col-md-offset-3 col-sm-4 col-xs-4">
                    <p>@Html.DisplayNameFor(model => model.FoodItemRating)</p>
                    <p>@Html.DisplayNameFor(model => model.Course.CourseType)</p>
                    <p>@Html.DisplayNameFor(model => model.ListIngredients)</p>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-8">
                    <p>@{int foodItemRating = (Model.FoodItemRating); }
                    @if (foodItemRating == 1)
            {
                        <div class="rating">
                            <span class="on">★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    }
                    else if (foodItemRating == 2)
                    {
                        <div class="rating">
                            <span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    }
                    else if (foodItemRating == 3)
                    {
                        <div class="rating">
                            <span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span>
                        </div>
                    }
                    else if (foodItemRating == 4)
                    {
                        <div class="rating">
                            <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span>
                        </div>
                    }
                    else if (foodItemRating == 5)
                    {
                        <div class="rating">
                            <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span>
                        </div>
                    }</p>
                    <p>@Html.DisplayFor(model => model.Course.CourseType)</p>
                    <p>@Html.DisplayFor(model => model.ListIngredients)</p>
                </div>
            </div>
            <div class="row darkerBackground ">
                <p class="text-center">Friendly for:</p>
                <p class="col-md-4">@Html.DisplayFor(model => model.DietaryRestriction.DietType)</p>
                <p class="col-md-4">@Html.DisplayFor(model => model.DietaryRestriction1.DietType)</p>
                <p class="col-md-4">@Html.DisplayFor(model => model.DietaryRestriction2.DietType)</p>
            </div>
        </div>
    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <input type="submit" value="Delete" class="btn btn-default paddedButton extraSmallMarginTopBottom" />
                <p><button class="btn">@Html.ActionLink("Back to Items", "Index", new { ReviewID = @Html.DisplayFor(model => model.ReviewID)})</button></p>
            </div>
        }
 
</div>
