@model CanIEatHere.Models.Restaurant

<link href="~/Content/restaurantPageStyling.css" rel="stylesheet" />

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <h2 class="text-center">Add a New Restaurant</h2>

</div>
<div class="container-fluid input-group text-center">
        <label for="userSearchBar">Type the name of your restaurant!</label>
        <input id="userSearchBar" name="searchBar" class="form-control" type="text" />
</div>
<div class="container text-center input-group" id="createSearchButtonContainer">
    <button class="btn btn-primary smallMarginTopBottom">Search</button>
</div>
<div class="col-md-12">
    @*<h1>Get Place ID is <span data-bind="text:Object.results[1].place_id"></span></h1>*@
    <ul id="resultsList">

    </ul>
    
</div>
<p id="paragraph"></p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    
    
    <div class="form-horizontal">
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hide">
            @Html.LabelFor(model => model.PlaceID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceID, new { htmlAttributes = new { @class = "form-control", id = "idInput"} })
                @Html.ValidationMessageFor(model => model.PlaceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-primary hide" id="createRestaurantButton" />
            </div>
        </div>
    </div>
}

<div>
    <button class="btn">@Html.ActionLink("Back to Restaurants", "Index")</button>
</div>

<script>
        var placesID = Object();
        var searchStringValue = "";
        $(document).ready(function () {
            //button which searches the api and displays top ten restaurants that match user text
            $("button").click(function () {
                searchStringValue = $("input[name=searchBar]").val();
                $(".resultItems").remove();
                $.get("@Url.Action("GetPlaceId", "Restaurants", new { searchString = "tempVar" })".replace("tempVar", searchStringValue), function(response){

                    console.log(response);

                    for (var i = 0; i < 10; i++) {
                        $("#resultsList").append("<div class='resultItems col-md-12 alert alert-success darkerBackground'><h3>" + response.results[i].name + " </h3><p>" + response.results[i].formatted_address + "</p><p class='placeid hide'>" + response.results[i].place_id + "</p></div>");
                    }


                });

            });

           //after user clicks on the restaurant that they want the value of the place id property is set
            $("#resultsList").on('click', '.resultItems', function () {
                $("#idInput").val($(this).children(".placeid").text());
                $(this).removeClass("alert-success").addClass("alert-info").addClass("animated bounce");
                $(".alert-success").fadeOut("slow", "swing");
                $("#createRestaurantButton").removeClass("hide");
            });



        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
