@model CanIEatHere.Models.Restaurant

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br>
        Place ID <span id="place-id"></span><br>
        <span id="place-address"></span>
    </div>

    <div class="form-horizontal">
        <h4>Restaurant</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PlaceID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
<form id="form1" runat="server">
    <div>
        <table>
            <tr>
                <td colspan="2">
                    Search Place In Google Map
                </td>
            </tr>
            <tr>
                <td>
                    Country :
                </td>
                <td>
                    <asp:TextBox ID="txtCon" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    City :
                </td>
                <td>
                    <asp:TextBox ID="txtCity" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input id="btn" type="button" value="Search Place" />
                </td>
            </tr>
        </table>
    </div>
    <div id="map-canvas" style="height: 500px; width: 500px">
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/placesCreate.js"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk0uA5zKZMDJmD5WUVLJq2gosxwV5GM_c&libraries=places&callback=initMap"
        async defer></script>*@
}

