@model CanIEatHere.Models.Restaurant

<link href="~/Content/restaurantPageStyling.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
}



<div class="jumbotron darkerBackground smallMarginTopBottom">

    <p class="hide" id="placeID">@Html.DisplayFor(model => model.PlaceID)</p>
   
     <h2 id="restaurantName" class="text-center"></h2>
 
   
    <h3>Address: <span id="restaurantAddress"></span></h3>
    <h3>Phone: <span id="restaurantPhoneNumber"></span></h3>
    <h3>Open Now? <span id="openNow"></span></h3>
    <h3>Hours: </h3>
    <ul id="restaurantHours"></ul>
    <h5>Restaurant Details courtesy of Google Places</h5>

</div>


<div>
    <h2 class="text-center">Reviews</h2>
    <div class="row">

        @foreach (var review in Model.Reviews)
        {
             <div class="row">
                <div class="col-md-offset-2 col-md-8 reviewDisplay animated slideInRight">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <p>Overall Experience: @Html.DisplayFor(model => review.OverallRating)</p>
                        </div>
                        <div class="col-md-4">
                            <p>Food Options: @Html.DisplayFor(model => review.NumFoodOptionsRating)</p>
                        </div>
                        <div class="col-md-4">
                            <p>Price: @Html.DisplayFor(model => review.RestaurantPriceRating)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="darkerBackground">
                            <div class="col-md-12">
                                <p class="col-md-3">Friendly For: </p>
                                @foreach (var d in ViewBag.DietaryRestrictions)
                                {
                                    foreach (var f in ViewBag.FoodItems)
                                    {
                                        if (f.ReviewID == review.ReviewID)
                                        {
                                            if (f.DietaryRestrictionID == d.DietaryRestrictionID)
                                            {
                                                <p class="col-md-3">@d.DietType</p>
                                            }
                                        }
                                    }
                                }
                            </div>
                            <p class="text-center">@Html.DisplayFor(model => review.GeneralComments)</p>
                        </div>
                    </div>
                    <div class="row smallMarginTop">
                        <div class="col-md-6">
                            <p class="text-center"> Posted by: @Html.DisplayFor(model => review.AspNetUser.Email)</p>
                        </div>
                            <div class="col-md-6">
                            <p class="text-center">Last Modified: @Html.DisplayFor(model => review.TimeStamp)</p>
                        </div>
                    </div>
                    <p class="col-md-2"><button class="btn smallMarginTop">@Html.ActionLink("Full Review ", "Details", "Reviews", new { id = review.ReviewID }, null)</button></p>

                    @foreach (var r in ViewBag.LoggedInUsersReviews)
                {
                    if (r == review.ReviewID)
                    {
                            <p class="col-md-1"><button class="btn smallMarginTop">@Html.ActionLink("Edit", "Edit", new { id = review.ReviewID })</button></p>
                            <p class="col-md-1"><button class="btn smallMarginTop">@Html.ActionLink("Delete", "Delete", new { id = review.ReviewID })</button></p>
                        }
                    }
                </div>
            </div>
                                }

    </div>


</div>


<script>
    var placeID = $("#placeID").text();

    $(document).ready(function () {

        $.get("@Url.Action("GetDetailsFromPlaceID", "Restaurants", new { placeIdString = "tempVar" })".replace("tempVar", placeID), function (response) {
            console.log(response);
            $("#restaurantName").text(response.result.name);
            $("#restaurantAddress").text(response.result.formatted_address);
            $("#restaurantPhoneNumber").text(response.result.formatted_phone_number);

            if (response.result.opening_hours.open_now == false) {
                $("#openNow").text("Nope, try again later");
            }
            else if (response.result.opening_hours.open_now == "true") {
                $("#openNow").text("Yep, come on down");
            }

            (response.result.opening_hours.weekday_text).forEach(function (day) {

                day = day.replace('–', '-')
                $("#restaurantHours").append("<li>" + day + "</li>")

            });

        });
    });
</script>
