@model IEnumerable<CanIEatHere.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

@*Custom CSS here:*@
<link href="~/Content/custom-RESTAURANT.css" rel="stylesheet" />

@*Custom jQuery here:*@
<script src="~/Scripts/custom-jquery-RESTAURANT.js"></script>

@*Fade-in ID here:*@
<div id="back"></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceID)
        </th>
        <th></th>
    </tr>
</table>*@
@*@foreach (var item in Model) { };*@
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestaurantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurantID })
        </td>
    </tr>*@

    <div id="restaurantList">

    </div>




<script>

    $(document).ready(function () {
        var testArray = [];
        @foreach(var item in Model)
        {
            var placeID = Html.DisplayFor(modelItem => item.PlaceID);
            <text>
        var placeID = "@placeID";
       
        $.get("@Url.Action("GetDetailsFromPlaceID", "Restaurants", new { placeIdString = "tempVar" })".replace("tempVar", placeID), function (response) {
            console.log(response);
            $("#restaurantList").append("<h2>" + response.result.name + "</h2>");
            $("#restaurantList").append('<h3>@Html.ActionLink("See Reviews", "Details", new { id = item.RestaurantID }) </h3>')
        });

        </text>

            
        }



    });
    @*var placeID = $("#placeID").text();
        $.get("@Url.Action("GetDetailsFromPlaceID", "Restaurants", new { placeIdString = "tempVar" })".replace("tempVar", placeID), function (response) {
            console.log(response);
            $("#restaurantName").text(response.result.name);
            $("#restaurantAddress").text(response.result.formatted_address);
            $("#restaurantPhoneNumber").text(response.result.formatted_phone_number);

            if(response.result.opening_hours.open_now == false)
            {
                $("#openNow").text("Nope, try again later");
            }
            else if(response.result.opening_hours.open_now == "true")
            {
                $("#openNow").text("Yep, come on down");
            }

            (response.result.opening_hours.weekday_text).forEach(function (day) {

                day = day.replace('–', '-')
                $("#restaurantHours").append("<li>" + day + "</li>")

            });

        });*@

</script>
