@model IEnumerable<CanIEatHere.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestaurantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurantID })
        </td>
    </tr>
}

</table>*@


<div id="map"></div>
@section Scripts {
   <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk0uA5zKZMDJmD5WUVLJq2gosxwV5GM_c&libraries=places&callback=initMap">
</script>

}
@RenderSection("scripts", required: false)
