@model CanIEatHere.Models.Review

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<p class="errorMessage"></p>
<p class="createRestaurantLink">@Html.ActionLink("New Restaurant", "Create", "Restaurants")</p>

<div class="form-horizontal">
    <div class="form-group">
        <label for="restaurantSearchBar" class="col-md-2">What restaurant are you reviewing?</label>
        <div class="col-md-10">
            <input class="form-control" id="restaurantSearchBar" name="restaurantSearchBar" type="text" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary searchButton">Search</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <ul id="resultsList"></ul>
        </div>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumFoodOptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumFoodOptions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumFoodOptions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumFoodOptionsRating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumFoodOptionsRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumFoodOptionsRating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GeneralComments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GeneralComments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GeneralComments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OverallRating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverallRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OverallRating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeStamp, new { htmlAttributes = new { @class = "form-control", id = "timeStamp" } })
                @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantID, "RestaurantID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RestaurantID", null, htmlAttributes: new { @class = "form-control", id = "restaurantId" })
                @Html.ValidationMessageFor(model => model.RestaurantID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantPriceRating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RestaurantPriceRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestaurantPriceRating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Img1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Img1, new { htmlAttributes = new { @class = "form-control", id = "firstImage" } })
                @Html.ValidationMessageFor(model => model.Img1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Img2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Img2, new { htmlAttributes = new { @class = "form-control", id = "secondImage" } })
                @Html.ValidationMessageFor(model => model.Img2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Img3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Img3, new { htmlAttributes = new { @class = "form-control", id = "thirdImage" } })
                @Html.ValidationMessageFor(model => model.Img3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="create" />
            </div>
        </div>
    </div>
}

<!--This needs to be outside the "using" statement-->
<!--FILESTACK BUTTON-->
<section id="filestack">

    <div>
        <input type="button" value="FileStackButton" id="fileStackButton" />
    </div>

    <!--DISPLAY THE UPLOADED IMAGE-->
    <div id="image-container">
    </div>

    <p>Are these the photos you want in your review?</p>
    <button id="getUrl">Add photos to review.</button>
</section>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $(document).ready(function () {

        //Get the image src from filestack and store it in the Img inputs
        $('#fileStackButton').click(showPicker);
        $('#image-container').on('click', '#addAnother', addMoreImages);
        $('#image-container').on('click', '.deleteImage', deleteSelectedImage);
        $('#getUrl').click(storeImagesInReview);

        //set TimeStamp field to current datetime
        var currentDate = new Date().toLocaleString();
        $('#timeStamp').val(currentDate);

        var searchStringValue = "";

        //Allows user to enter a search term for restaurant
        //and displays top results from the google places api
        //displays name, address and place id

        $(".searchButton").click(function () {
            searchStringValue = $("input[name=restaurantSearchBar]").val();
            $(".resultItems").remove();
            $.get("@Url.Action("GetPlaceId", "Reviews", new { searchString = "tempVar" })".replace("tempVar", searchStringValue), function (response) {

                console.log(response);
                for (var i = 0; i < 10; i++) {
                    $("#resultsList").append("<div class='resultItems col-md-12'><h3>" + response.results[i].name + " </h3><p>" + response.results[i].formatted_address + "</p><p class='placeid'>" + response.results[i].place_id + "</p></div>");
                }

            });

            //when user clicks on the restaurant they want
            //checks to see if the restaurant id matches an option in the dropdown
            //if it isn't an error message is displayed
            //if it is then the corresponding id is selected

            var options = [];
            var hasMatch = false;
            $("#resultsList").on('click', '.resultItems', function () {

                options = $("#restaurantId option");

                var placeID = $(this).children(".placeid").text();

                options.each(function () {
                    if ($(this).text() == placeID) {
                        //alert("yes" + $(this).text());
                        hasMatch = true;
                        $(this).prop('selected', true);

                    }

                });
                if (hasMatch === false) {
                    $(".errorMessage").html("<p>The restaurant you entered was not found. Would you like to add it to our site?</p>");
                    $(".createRestaurantLink").show();
                }
            });

        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}