@model CanIEatHere.Models.Review
<link href="~/Content/createPageStyling.css" rel="stylesheet" />
@{
    ViewBag.Title = "Delete";
}

@*Custom CSS here:*@
<link href="~/Content/custom-REVIEW.css" rel="stylesheet" />

@*Animate CSS:*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*Custom jQuery here:*@
<script src="~/Scripts/custom-jquery-REVIEW.js"></script>

<div class="darkerBackground text-center smallMarginTopBottom">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>

</div>
<hr/>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 reviewDisplay animated slideInRight mediumMarginTopBottom">

            <div class="darkerBackground">
                <p class="hide" id="placeID">@Html.DisplayFor(model => model.Restaurant.PlaceID)</p>
                <h3 id="restaurantName"></h3>
                <div class="row">
                    <div class="col-md-8"><p>Address: <span id="restaurantAddress"></span></p></div>
                    <div class="col-md-4"><p>Phone: <span id="restaurantPhoneNumber"></span></p></div>
                </div>
                <p><button class="btn">@Html.ActionLink("View Restaurant", "Details", "Restaurants", new { id = Model.Restaurant.RestaurantID }, new { })</button></p>
            </div>

            <div class="row text-center smallMarginTopBottom">
                <div class="col-md-4">
                    <p>Overall Experience: @Html.DisplayFor(model => model.OverallRating)</p>
                </div>
                <div class="col-md-4">
                    <p>Food Options: @Html.DisplayFor(model => model.NumFoodOptionsRating)</p>
                </div>
                <div class="col-md-4">
                    <p>Price: @Html.DisplayFor(model => model.RestaurantPriceRating)</p>
                </div>
                <p class="text-center">Number of Food Options: @Html.DisplayFor(model => model.NumFoodOptions)</p>
            </div>

            @{string firstImage = Html.DisplayFor(model => model.Img1).ToString();
            string secondImage = Html.DisplayFor(model => model.Img2).ToString();
            string thirdImage = Html.DisplayFor(model => model.Img3).ToString();}

            <!--DISPLAY THE UPLOADED IMAGE-->

            <div id="image-container">
                @if (firstImage != null)
                {
                    <div class="image-thumbnail">
                        <img class="uploadedImage" src="@firstImage" />
                    </div>
                }
                @if (secondImage != null)
                {
                    <div class="image-thumbnail">
                        <img class="uploadedImage" src="@secondImage" />
                    </div>
                }
                @if (thirdImage != null)
                {
                    <div class="image-thumbnail">
                        <img class="uploadedImage" src="@thirdImage" />
                    </div>
                }

            </div>


            <div class="row">
                @foreach (var item in ViewBag.FoodItems)
                {
                    <div class="col-md-4 col-md-offset-1 darkerBackground smallMarginBottom">
                        <p>@item.FoodItemName</p>
                        <p>Rating: @item.FoodItemRating</p>
                        <p>Course: @ViewBag.Course</p>
                        <p>Ingredients: @item.ListIngredients</p>
                        <p>Friendly For:</p>
                        <p>@ViewBag.DietaryRestriction1</p>
                        <p>@ViewBag.DietaryRestriction2</p>
                        <p>@ViewBag.DietaryRestriction3</p>
                    </div>
                }
            </div>
            <p class="text-center darkerBackground">@Html.DisplayFor(model => model.GeneralComments)</p>
            <div class="smallMarginTopBottom">
                <p>Last Modified: @Html.DisplayFor(model => model.TimeStamp)</p>
                <p>Reviewed By: @Html.DisplayFor(model => model.AspNetUser.Email)</p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color text-center">
                    <input type="submit" value="Delete" class="btn smallMarginBottom paddedButton" /> 
                    <p><button class="btn">@Html.ActionLink("Back to Review", "Details", new { id = Model.ReviewID })</button></p>
                </div>
            }
        </div>
    </div>
