@model CanIEatHere.Models.Review
<link href="~/Content/createPageStyling.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
}

@*Custom CSS here:*@
<link href="~/Content/custom-REVIEW.css" rel="stylesheet" />

@*Animate CSS:*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*Custom jQuery here:*@
<script src="~/Scripts/custom-jquery-REVIEW.js"></script>



<div>


    <div class="row">
        <div class="col-md-offset-2 col-md-8 reviewDisplay animated slideInRight mediumMarginTopBottom">

            <div class="darkerBackground">
                <p class="hide" id="placeID">@Html.DisplayFor(model => model.Restaurant.PlaceID)</p>
                <h3 id="restaurantName"></h3>
                <div class="row">
                    <div class="col-md-8"><p>Address: <span id="restaurantAddress"></span></p></div>
                    <div class="col-md-4"><p>Phone: <span id="restaurantPhoneNumber"></span></p></div>
                </div>
                <p><button class="btn">@Html.ActionLink("View Restaurant", "Details", "Restaurants", new { id = Model.Restaurant.RestaurantID }, new { })</button></p>
            </div>

            <div class="row text-center smallMarginTopBottom">
                <div class="col-md-4">
                    <p>
                        Overall Experience: @{int OvrRating = (Model.OverallRating); }
                        @if (OvrRating == 1)
                        {
                            <div class="rating">
                                <span class="on">★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (OvrRating == 2)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (OvrRating == 3)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (OvrRating == 4)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span>
                            </div>
                        }
                        else if (OvrRating == 5)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span>
                            </div>
                        }
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Food Options: @{int foodRating = (Model.NumFoodOptionsRating); }
                        @if (foodRating == 1)
                        {
                            <div class="rating">
                                <span class="on">★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (foodRating == 2)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (foodRating == 3)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (foodRating == 4)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span>
                            </div>
                        }
                        else if (foodRating == 5)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span>
                            </div>
                        }
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Price: @{int priceRating = (Model.RestaurantPriceRating); }
                        @if (priceRating == 1)
                        {
                            <div class="rating">
                                <span class="on">★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (priceRating == 2)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (priceRating == 3)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span>
                            </div>
                        }
                        else if (priceRating == 4)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span>
                            </div>
                        }
                        else if (priceRating == 5)
                        {
                            <div class="rating">
                                <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span>
                            </div>
                        }
                    </p>
                </div>
                <p class="text-center">Number of Food Options: @Html.DisplayFor(model => model.NumFoodOptions)</p>
            </div>
            <p class="text-center darkerBackground">@Html.DisplayFor(model => model.GeneralComments)</p>

            @{string firstImage = Html.DisplayFor(model => model.Img1).ToString();
            string secondImage = Html.DisplayFor(model => model.Img2).ToString();
            string thirdImage = Html.DisplayFor(model => model.Img3).ToString();}

            <!--DISPLAY THE UPLOADED IMAGE-->

            <div id="image-container" class="row">
                @if (firstImage != "")
                {
                    <div class="thumbnail image-thumbnail-details darkerBackground detailsPageImage col-md-4">
                        <img class="uploadedImage" src="@firstImage" />
                    </div>
                }
                @if (secondImage != "")
                {
                    <div class="thumbnail image-thumbnail-details darkerBackground detailsPageImage col-md-4">
                        <img class="uploadedImage" src="@secondImage" />
                    </div>
                }
                @if (thirdImage != "")
                {
                    <div class="thumbnail image-thumbnail-details darkerBackground detailsPageImage col-md-4">
                        <img class="uploadedImage" src="@thirdImage" />
                    </div>
                }

            </div>


            <div class="row">
                @foreach (var item in ViewBag.FoodItems)
                {
                    <div class="col-md-4 col-sm-12 darkerBackground smallMarginBottom smallMarginRight">
                        <p class="text-center">@item.FoodItemName</p>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <p>Rating: </p>
                                <p>Course: </p>
                                <p>Ingredients:</p>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <p>
                                    @{int foodItemRating = @item.FoodItemRating;}
                                    @if (foodItemRating == 1)
                                    {
                                        
                                            <span class="on">★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    }
                                    else if (foodItemRating == 2)
                                    {
                                        <span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span><span>☆</span>
                                    }
                                    else if (foodItemRating == 3)
                                    {
                                        <span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span><span>☆</span>
                                    }
                                    else if (foodItemRating == 4)
                                    {
                                        <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span>☆</span>
                                    }
                                    else if (foodItemRating == 5)
                                    {
                                        <span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span><span class="on">★</span>
                                    }
                                </p>
                                <p>@ViewBag.Course</p>
                                <p>@item.ListIngredients</p>
                            </div>
                        </div>
                        <div class="row darkerBackground ">
                            <p class="text-center">Friendly for:</p>
                            <p class="col-md-6">@ViewBag.DietaryRestriction1</p>
                            <p class="col-md-6">@ViewBag.DietaryRestriction2</p>
                            <p class="col-md-6">@ViewBag.DietaryRestriction3</p>
                            @{ int foodItemID = item.FoodItemID;  }
                        </div>
                    </div>
                                }
            </div>

            <div class="smallMarginTopBottom">
                <p>Last Modified: @Html.DisplayFor(model => model.TimeStamp)</p>
                <p>Reviewed By: @Html.DisplayFor(model => model.AspNetUser.Email)</p>
            </div>

            <p class="col-md-3">
                <button class="btn">@Html.ActionLink("Back to Restaurant", "Details", "Restaurants", new { id = Model.RestaurantID }, null)</button>
            </p>
            @foreach (var r in ViewBag.LoggedInUsersReviews)
            {
                if (r == Model.ReviewID)
                {
                    <p class="col-md-3">
                        <button class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID })</button>
                    </p>
                }
            }


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var placeID = $("#placeID").text();
        $.get("@Url.Action("GetDetailsFromPlaceID", "Restaurants", new { placeIdString = "tempVar" })".replace("tempVar", placeID), function (response) {
            console.log(response);
            $("#restaurantName").text(response.result.name);
            $("#restaurantAddress").text(response.result.formatted_address);
            $("#restaurantPhoneNumber").text(response.result.formatted_phone_number);
        });
    });
</script>
