@model CanIEatHere.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumFoodOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFoodOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumFoodOptionsRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFoodOptionsRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantPriceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantPriceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.PlaceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.PlaceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
