@model CanIEatHere.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumFoodOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFoodOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumFoodOptionsRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFoodOptionsRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantPriceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantPriceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.PlaceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.PlaceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<!--STAR SYSTEM-->
<div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
<!--SECOND-BIGGER-->
@*<input id="input-1-ltr-star-xs" name="input-1-ltr-star-xs" class="kv-ltr-theme-fa-star rating-loading" value="1" dir="ltr" data-size="xs">
@*<br />
<input id="input-2-ltr-star-sm" name="input-2-ltr-star-sm" class="kv-ltr-theme-fa-star rating-loading" value="2" dir="ltr" data-size="sm">
<br />
<input id="input-3-ltr-star-md" name="input-3-ltr-star-md" class="kv-ltr-theme-fa-star rating-loading" value="3" dir="ltr" data-size="md">
<br />
<input id="input-4-ltr-star-lg" name="input-4-ltr-star-lg" class="kv-ltr-theme-fa-star rating-loading" value="4" dir="ltr" data-size="lg">
<br />
<input id="input-5-ltr-star-xl" name="input-5-ltr-star-xl" class="kv-ltr-theme-fa-star rating-loading" value="5" dir="ltr" data-size="xl">
<br />*@

@*<script>
$(document).on('ready', function(){
    $('.kv-ltr-theme-fa-star').rating({
        hoverOnClear: false,
        theme: 'krajee-fa'
    });
});
</script>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
