@model IEnumerable<CanIEatHere.Models.Review>

@{
    ViewBag.Title = "Index";
}

@*Custom CSS here:*@
<link href="~/Content/custom-REVIEW.css" rel="stylesheet" />

@*Animate CSS:*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*Custom jQuery here:*@
<script src="~/Scripts/custom-jquery-REVIEW.js"></script>

@*Fade-in ID here:*@
<div id="back"></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)


{
    <div class="row">
        <div class="col-md-offset-2 col-md-8 reviewDisplay animated slideInRight">
            @*<p class="hide" id="placeID">@Html.DisplayFor(modelItem => item.Restaurant.PlaceID)</p>
                <div id="restaurantList"></div>*@
            <div class="row text-center">
                <div class="col-md-4">
                    <p>Overall Experience: @Html.DisplayFor(modelItem => item.OverallRating)</p>
                </div>
                <div class="col-md-4">
                    <p>Food Options: @Html.DisplayFor(modelItem => item.NumFoodOptionsRating)</p>
                </div>
                <div class="col-md-4">
                    <p>Price: @Html.DisplayFor(modelItem => item.RestaurantPriceRating)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @{string firstImage = Html.DisplayFor(modelItem => item.Img1).ToString();

                        if (firstImage != null)
                        {
                            <div class="image-thumbnail">
                                <img class="uploadedImage" src="@firstImage" />
                            </div>
                        }
                        else
                        {
                            <div class="image-thumbnail">
                                <img src="~/Content/Images/homeIndex_slicedTomatoes.jpg" />
                            </div>
                        }
                    }
                </div>
                <div class="col-md-8 darkerBackground">
                    <div class="row">
                        <p class="col-md-3">Friendly For: </p>
                        @foreach (var d in ViewBag.DietaryRestrictions)
                        {
                            foreach (var f in ViewBag.FoodItems)
                            {
                                if (f.ReviewID == item.ReviewID)
                                {
                                    if (f.DietaryRestrictionID == d.DietaryRestrictionID)
                                    {
                                        <p class="col-md-3">@d.DietType</p>
                                    }
                                }
                            }
                        }
                    </div>
                    <p class="text-center">@Html.DisplayFor(modelItem => item.GeneralComments)</p>
                </div>
            </div>
            <p class="text-center appended"> Posted by: @Html.DisplayFor(modelItem => item.AspNetUser.Email)</p>
            <p class="text-center">Last Modified: @Html.DisplayFor(modelItem => item.TimeStamp)</p>
            <p>@Html.ActionLink("Details", "Details", new { id = item.ReviewID })</p>

            @foreach (var r in ViewBag.LoggedInUsersReviews)
                {
                    if (r == item.ReviewID)
                    {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                    </p>
                }
            }
        </div>
    </div>

                        }

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumFoodOptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumFoodOptionsRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantPriceRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.PlaceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumFoodOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumFoodOptionsRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneralComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverallRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantPriceRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.PlaceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>

                @foreach (var r in ViewBag.LoggedInUsersReviews)
                {
                    if (r == item.ReviewID)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                        </td>
                    }
                }
            </tr>
        }

    </table>*@

<script>
    @*@foreach(var item in Model)
        {
            var placeID = Html.DisplayFor(modelItem => item.Restaurant.PlaceID);
            <text>
    var placeID = "@placeID";
    $.get("@Url.Action("GetDetailsFromPlaceID", "Restaurants", new { placeIdString = "tempVar" })".replace("tempVar", placeID), function (response) {
        console.log(response);
        $("#restaurantList").append('<div class="col-md-4 col-sm-12"><div class="thumbnail restaurantThumbnail"><div class="caption"><h2>' + response.result.name + '</h2><h4>' + response.result.formatted_address + '</h4><h3>@Html.ActionLink("See Reviews", "Details", new { id = item.RestaurantID })</h3></div></div></div>');
        @*$("#restaurantList").append('<h3>@Html.ActionLink("See Reviews", "Details", new { id = item.RestaurantID }) </h3>')*@
    //});
    //</text>
    //}
</script>
